<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="accordion.css">
    <link rel="stylesheet" href="tab.css">
    <link rel="stylesheet" href="banner.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <h1>Menu lateral com animação</h1>
        <input type="checkbox" class="hidden" id="menu-burguer">
        <label for="menu-burguer" class="container-menu">
            <span class="menu-column"></span>
            <span class="menu-column"></span>
            <span class="menu-column"></span>
        </label>
    </div>


    <div class="container">
        <h1>Accordion</h1>
        <div class="container-panel">
            
            <button div class="accordion">Accordion 1</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam perferendis nulla dolorum non
                    sapiente
                    quibusdam, numquam tenetur eveniet alias repudiandae cum cumque ducimus. Odit quam accusamus
                    reprehenderit magnam explicabo eaque.
                    Veritatis, ab qui. Esse, quisquam! Possimus ipsa quod nemo corporis velit officiis, sit dignissimos,
                    esse nam, numquam vero perspiciatis aspernatur placeat praesentium dolorum sed et ipsam odit
                    delectus
                    quo cumque.</p>
            </div>
            <button div class="accordion">Accordion 2</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam perferendis nulla dolorum non
                    sapiente
                    quibusdam, numquam tenetur eveniet alias repudiandae cum cumque ducimus. Odit quam accusamus
                    reprehenderit magnam explicabo eaque.
                    Veritatis, ab qui. Esse, quisquam! Possimus ipsa quod nemo corporis velit officiis, sit dignissimos,
                    esse nam, numquam vero perspiciatis aspernatur placeat praesentium dolorum sed et ipsam odit
                    delectus
                    quo cumque.</p>
            </div>
            <button div class="accordion">Accordion 3</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam perferendis nulla dolorum non
                    sapiente
                    quibusdam, numquam tenetur eveniet alias repudiandae cum cumque ducimus. Odit quam accusamus
                    reprehenderit magnam explicabo eaque.
                    Veritatis, ab qui. Esse, quisquam! Possimus ipsa quod nemo corporis velit officiis, sit dignissimos,
                    esse nam, numquam vero perspiciatis aspernatur placeat praesentium dolorum sed et ipsam odit
                    delectus
                    quo cumque.</p>
            </div>

        </div>
    </div>



    <div class="container">
        <nav class="tab">
            <button class="nav-tab">Paris</button>
            <button class="nav-tab">Londom</button>
            <button class="nav-tab">Tokyo</button>
        </nav>

        <div class="tab-content">
            <h3>Paris</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque officia porro, rem eum id minus
                consequatur harum velit suscipit explicabo nemo, dignissimos molestiae tenetur perspiciatis laborum
                tempore voluptatum nam sunt.</p>
        </div>

        <div class="tab-content">
            <h3>Londom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aperiam laborum quis nam illum
                officia molestiae consectetur ex eos, quaerat unde minus! Atque quaerat tenetur accusantium, nam
                excepturi natus autem.</p>
        </div>

        <div class="tab-content">
            <h3>Tokyo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat assumenda ratione! Libero sit
                necessitatibus, quaerat eveniet alias nam dolorum quam consectetur! Quaerat, praesentium laboriosam enim
                ipsum sequi voluptas aliquid!</p>
        </div>
    </div>

    <div class="container">

        <div class="container-banner">
            
            <div class="container-grid">
                <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/001.png"
                    alt="Bulbassauro">
                <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/002.png"
                    alt="Ivysaur">
                <img src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/003.png"
                    alt="Venusaur">
            </div>

        </div>
        
    </div>





    <script src="scrypt.js">
    </script>

</body>

</html>