.nav-tab{
    width: 80px;
    height: 30px;
    
    border: none;
}

.active{
    background: darkgray;
}

.tab-content{
    max-height: 0;
    display: none;
    transition: opacity .5s;
}

.tab-content-show{
    display:block;
}